.vertical-nav{
    float: left;
    margin-left: 170px;
    border: 1px solid black;
    width: 200px;
}

.horizontal-nav{
    float: right;
    margin-right: 170px;
    border: 1px solid black;
    width: 400px;
}

.vertical-nav a{
    display: block;
    padding: 12px 6px;
}

.horizontal-nav a{
    display: inline-block;
    padding: 12px 6px;
}